<div *ngIf="buildRatingChartData">
  <canvas baseChart
          [data]="buildRatingChartData"
          [options]="buildRatingChartOptions"
          [plugins]="buildRatingChartPlugins"
          [legend]="buildRatingChartLegend"
          [type]="'bar'">
  </canvas>
</div>
<div *ngIf="deckStatsChartDatasets">
  <canvas baseChart
          [labels]="deckStatsChartLabels"
          [datasets]="deckStatsChartDatasets"
          [options]="deckStatsChartOptions"
          [legend]="true"
          [type]="'doughnut'">
  </canvas>
</div>
