<div class="container-fluid">
  <h1>{{current_user | json}}</h1>
  <div class="row justify-content-between">
    <div class="col-xl-3" *ngIf="buildRatingChartData">
      <div style="display: block" >
        <canvas baseChart style="height: 300px; background-color: rgba(255, 255, 255, 0.9); padding: 5px; border-radius: 10px;"
                [data]="buildRatingChartData"
                [options]="buildRatingChartOptions"
                [plugins]="buildRatingChartPlugins"
                [legend]="buildRatingChartLegend"
                [type]="'bar'">
        </canvas>
      </div>
    </div>
    <div class="col-xl-3" style="height: 300px" *ngIf="deckStatsChartDatasets">
      <div style="display: block">
        <canvas baseChart style="background-color: rgba(255, 255, 255, 0.9); padding: 5px; border-radius: 10px;"
                [labels]="deckStatsChartLabels"
                [datasets]="deckStatsChartDatasets"
                [options]="deckStatsChartOptions"
                [legend]="false"
                [type]="'doughnut'">
        </canvas>
      </div>
    </div>
  </div>
  <br>
  <div class="row justify-content-between">
    <div class="col-xl-6" *ngIf="themeCountData">
      <div style="display: block">
        <canvas baseChart style="height: 500px; width: 100%; background-color: rgba(255, 255, 255, 0.9); padding: 5px; border-radius: 10px;"
        [data]="themeCountData"
        [options]="themeCountOptions"
        [plugins]="themeCountPlugins"
        [legend]="false"
        [type]="'bar'">
        </canvas>
      </div>
    </div>
  </div>
</div>

