<div class="container-fluid">
  <div class="row justify-content-between">
    <div class="col-xl-3" *ngIf="buildRatingChartData">
      <div style="display: block">
        <canvas baseChart style="height: 300px"
                [data]="buildRatingChartData"
                [options]="buildRatingChartOptions"
                [plugins]="buildRatingChartPlugins"
                [legend]="buildRatingChartLegend"
                [type]="'bar'">
        </canvas>
      </div>
    </div>
    <div class="col-xl-3" style="height: 300px" *ngIf="deckStatsChartDatasets">
      <div style="display: block">
        <canvas baseChart
                [labels]="deckStatsChartLabels"
                [datasets]="deckStatsChartDatasets"
                [options]="deckStatsChartOptions"
                [legend]="false"
                [type]="'doughnut'">
        </canvas>
      </div>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-xl-6">
      <div style="display: block">
        <canvas baseChart style="height: 500px; width: 100%"
        [data]="themeCountData"
        [options]="themeCountOptions"
        [plugins]="themeCountPlugins"
        [legend]="false"
        [type]="'bar'">
        </canvas>
      </div>
    </div>
  </div>
</div>

