@import "src/styles";
.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #1e90ff;
}

.hug {
  padding: 0;
  margin: 0;
}

.list-group-item:hover {
  opacity: 0.7;
}

.commander-nav-button-container {
  position: relative;
  height: 100%;
  background-color: blue;
  float: left;
}

.commander-nav-button {
  position: absolute;
  left: 0;
  top: 50%;
  height: 75px;
  width:  50px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  display: block;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.commander-nav-button:hover {
  opacity: 80%;
  cursor: pointer;
}

.commander-nav-icon {
  position: relative;
  height: 100%;
}

.commander-nav-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%) scale(1, 2);
}

.star {
  position: relative;
  font-size: 2.5rem;
  display: inline-block;
}

.star-label {
  color: white;
  padding-top: 1.5rem
}

.cmdr-check {
  font-size: 1.5rem;
  margin-left: 8.5rem;
  cursor: pointer;
}

.cmdr-check-label {
  color: white;
  padding-top: 0.5rem;
}

.deck-label {
  color:white;
  padding-top: 1rem;
}

.card-edit-image {
  position: relative;
  float: left;
  width: 100%;
}

.card-carosel-view {
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.card-carosel {
  position: relative;
  float: left;
  height: 384px;
  //width: 335px;
  width: 275px;
  overflow: hidden;
  background-color: black;
  border-radius: 10px;
}

.card-carosel .card-image {
  height: 384px;
  width: 275px;
  position: absolute;
  left: 0px;
  z-index: 1;
}

.card-carosel .card-carosel-left {
  position: absolute;
  left:0;
  top: 0;
  height: 384px;
  width: 40px;
  background-color: black;
  display: none;
  cursor: pointer;
  z-index: 2;
}

.card-carosel .card-carosel-left .fa-angle-left {
  position: absolute;
  left: 15px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%) scale(1, 2);
  color: white;
  z-index: 2;
}

.card-carosel .card-carosel-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 384px;
  width: 40px;
  background-color: black;
  display: none;
  cursor: pointer;
  z-index: 2;
}

.card-carosel .card-carosel-right .fa-angle-right {
  position: absolute;
  right: 15px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%) scale(1, 2);
  color: white;
  z-index: 2;
}

.card-carosel .card-image-refresh {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%) scale(5, 5);
  color: white;
  display: none;
  z-index: 2;
}

.card-carosel .card-image-refresh i {
  cursor: pointer;
}

.card-carosel:hover .card-carosel-left,
.card-carosel:hover .card-carosel-right,
.card-carosel:hover .card-image-refresh {
  display: block;
  opacity: 0.7;
}

.card-carosel .card-carosel-left:hover,
.card-carosel .card-carosel-right:hover {
  opacity: 0.85;
}

.card-carosel .card-image-refresh i:hover {
  opacity: 0.85;
  animation: fa-spin 1.5s infinite linear;
}

.dropdown-menu {
  background-color: #303641;
}

.dropdown-item{
  color: white;
}
