@import "src/styles";
.hug {
  padding: 0;
  margin: 0;
}

.list-group-item:hover {
  opacity: 0.7;
}


.deck-preview {
  position: relative;
  float: left;
  height: 320px;
  width: 460px;
  overflow: hidden;
  margin: 10px;
  background-color: black;
  border-radius: 5px;
}

.deck-preview img {
  height: 768px;
  width: 550px;
  margin-top: -100px;
  margin-right: -45px;
  margin-left: -45px;
}

.deck-preview:hover img{
  opacity: 0.5;
}

.deck-preview .edit-button {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.deck-preview i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
  color: white;
  opacity: 0.8;
}

.deck-preview i:hover {
  color: rgb(175, 175, 175);
}

.deck-preview:hover .edit-button {
  display: block;
}

.fa-edit-button {
  text-decoration:none;
  color: white;
  opacity: 0.65;
}

.fa-edit-button:hover {
  color: white;
  opacity: 0.8;
}

.deck-preview .mtg-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 100%;
}

.mtg-logo {
  filter: drop-shadow(0 0 0.2rem white);
}

.deck-preview .card-star-build {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
}

.deck-preview .card-star-play {
  position: absolute;
  bottom: 10px;
  left: 65px;
  width: 50px;
  height: 50px;
}

.deck-preview .card-star-win {
  position: absolute;
  bottom: 10px;
  left: 120px;
  width: 50px;
  height: 50px;
}

.deck-preview .card-star {
  opacity:0.8;
  fill-opacity:1;
  stroke-width:6.8079;
  stroke-linejoin:round;
  stroke-dasharray:none;
  stroke-opacity:1;
  stop-color:#000000;
  stop-opacity:1;
  stroke: black;
}

.deck-preview .card-star-outline path{
  stroke: black !important;
  filter: drop-shadow(0 0 0.5rem white);
}

.deck-preview .card-star-white {
  //fill:rgb(100%,80.076599%,39.988708%);
  fill: maroon;
}
.deck-preview .card-star-blue {
  //fill:rgb(10.984802%,56.834412%,78.90625%);
  fill: maroon;
}
.deck-preview .card-star-black {
  //fill:rgb(65.818787%,63.867188%,59.959412%);
  fill: maroon;
}
.deck-preview .card-star-red {
  //fill:rgb(100%,39.988708%,0%);
  fill: maroon;
}
.deck-preview .card-star-green {
  //fill:rgb(10.984802%,78.90625%,25.097656%);
  fill: maroon;
}

.deck-preview .commander-name {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Beleren;
  color: white;
  opacity: 0.8;
  text-shadow: 0 0 5px black;
  text-decoration: underline;
  font-size: 1.25em;
}

.deck-preview .commander-name:hover {
  filter: drop-shadow(0 0 0.5rem maroon);
}

.deck-preview .deck-title {
  position: absolute;
  top: 40px;
  left: 10px;
  font-family: Beleren;
  color: white;
  opacity: 0.8;
  text-shadow: 0 0 5px black;
}

.deck-preview .deck-themes {
  position: absolute;
  top: 70px;
  left: 10px;
  font-family: Beleren;
  color: white;
  opacity: 0.8;
  text-shadow: 0 0 5px black;
  text-align: left;
}

.card-star-tooltip .tooltip-inner{
  opacity: 1;
  background-color: maroon;
  max-width: 150px;
}
.card-star-tooltip.bs-tooltip-end .tooltip-arrow::before {
  opacity: 1;
  border-right-color: maroon;
}
.card-star-tooltip.bs-tooltip-start .tooltip-arrow::before {
  opacity: 1;
  border-left-color: maroon;
}
.card-star-tooltip.bs-tooltip-top .tooltip-arrow::before {
  opacity: 1;
  border-top-color: maroon;
}
.card-star-tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  opacity: 1;
  border-bottom-color: maroon;
}
