<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">
      <img class="magic-nav-logo" src="assets/magic-logo.webp" alt="Commander" loading="lazy">
    </a>
    <button class="navbar-toggler"
            type="button"
            (click)="commanderNavCollapsed = !commanderNavCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="commanderNavCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/decks', -1]" (click)="commanderNavCollapsed = true">Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/themes']" (click)="commanderNavCollapsed = true">Themes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/metrics']" (click)="commanderNavCollapsed = true">Stats</a>
        </li>
        <li *ngIf="current_component === 'decks';" class="nav-item" ngbDropdown>

          <a class="nav-link" tabindex="0" ngbDropdownToggle id="deckSortDropdown" role="button">
            Sort Decks
          </a>
          <div ngbDropdownMenu aria-labelledby="deckSortDropdown" class="dropdown-menu">
            <a ngbDropdownItem href="#" (click)="deckViewerChangeSort('Deck Name')">Deck Name</a>
            <a ngbDropdownItem href="#" (click)="deckViewerChangeSort('Commander')">Commander</a>
            <a ngbDropdownItem href="#" (click)="deckViewerChangeSort('id')">ID</a>
          </div>
        </li>
      </ul>


     <ng-template #deckrt let-r="result" let-t="term">
       <div class="container">
         <div class="row justify-content-between">
           <div class="col-auto">
             <ngb-highlight [result]="r.friendly_name + ' - ' + r.commander" [term]="t"></ngb-highlight>
           </div>
           <div class="col-auto">
             <div class="container">
               <div class="row justify-content-end">
                 <div *ngIf="deck_colors[r.commander].includes('W');" class="col" style="width: 16px">
                   <img src="assets/color_symbols/W.png" style="height: 16px">
                 </div>
                 <div *ngIf="deck_colors[r.commander].includes('U');" class="col" style="width: 16px">
                   <img src="assets/color_symbols/U.png" style="height: 16px">
                 </div>
                 <div *ngIf="deck_colors[r.commander].includes('B');" class="col" style="width: 16px">
                   <img src="assets/color_symbols/B.png" style="height: 16px">
                 </div>
                 <div *ngIf="deck_colors[r.commander].includes('R');" class="col" style="width: 16px">
                   <img src="assets/color_symbols/R.png" style="height: 16px">
                 </div>
                 <div *ngIf="deck_colors[r.commander].includes('G');" class="col" style="width: 16px">
                   <img src="assets/color_symbols/G.png" style="height: 16px">
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
      </ng-template>


      <div class="mr-2 mr-auto w-50 d-inline-block">
        <div class="input-group">
          <input type="text" class="form-control outline-danger bg-dark" placeholder="Search Decks"
                 [(ngModel)]="current_deck"
                 [ngbTypeahead]="deck_search"
                 [inputFormatter]="deck_formatter"
                 [resultTemplate]="deckrt"
                 [editable] = 'false'
                  (keyup.enter)="searchDeck()"/>
          <span class="input-group-append">
            <button class="btn btn-outline-danger" type="submit" (click)="searchDeck()">
              <i class="fa fa-search"></i>
            </button>
          </span>

        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
