<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-auto" style="margin: 20px">
      <div *ngIf="!calculating && !calculated" class="row justify-content-center">
        <div style="background-color: rgba(255, 255, 255, 0.9); padding: 30px; border-radius: 10px; max-width: 500px" class="centered">
          <div style="text-align: center">
            <h4 style="color: red">Chaos</h4>
          </div>
          Testing: <input class="form-check-input cmdr-check" type="checkbox" value="" id="flexCheckTestActive" [(ngModel)]="testing_recs">
          <p style="color:red;">User:
            <mat-slider
              class="example-margin"
              [disabled]="false"
              [invert]="false"
              [max]="100"
              [min]="0"
              [step]="1"
              [(ngModel)]="user_randomness"
              [vertical]="false">
            </mat-slider>
          </p>
          <p style="color:red;">Color:

            <mat-slider
              class="example-margin"
              [disabled]="false"
              [invert]="false"
              [max]="100"
              [min]="0"
              [step]="1"
              [(ngModel)]="color_randomness"
              [vertical]="false">
            </mat-slider>
          </p>
          <p style="color:red;">Theme:
            <mat-slider
              class="example-margin"
              [disabled]="false"
              [invert]="false"
              [max]="100"
              [min]="0"
              [step]="1"
              [(ngModel)]="theme_randomness"
              [vertical]="false">
            </mat-slider>
          </p>
          <div style="text-align: center">
            <h4 style="color: red">Filters</h4>
            <mat-form-field appearance="fill">
              <mat-label>Search Type:</mat-label>
              <mat-select [disabled]="!toggle_colors" [(ngModel)]="search_type">
                <mat-option value="And">And</mat-option>
                <mat-option value="Or">Or</mat-option>
                <mat-option value="Not">Not</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="container">
            <mat-slide-toggle [(ngModel)]="toggle_colors">Color Filter</mat-slide-toggle>
            <br>
            <div *ngIf="toggle_colors" style="margin-left: 40px">
              <mat-slide-toggle [(ngModel)]="toggle_w">White</mat-slide-toggle><br>
              <mat-slide-toggle [(ngModel)]="toggle_u">Blue</mat-slide-toggle><br>
              <mat-slide-toggle [(ngModel)]="toggle_b">Black</mat-slide-toggle><br>
              <mat-slide-toggle [(ngModel)]="toggle_r">Red</mat-slide-toggle><br>
              <mat-slide-toggle [(ngModel)]="toggle_g">Green</mat-slide-toggle><br>
              <mat-slide-toggle [(ngModel)]="toggle_c" [disabled]="toggle_w || toggle_u || toggle_b || toggle_r || toggle_g">Colorless</mat-slide-toggle><br>
            </div>
            <mat-slide-toggle [(ngModel)]="toggle_tribal">Allow Tribal</mat-slide-toggle><br>
            <mat-slide-toggle [(ngModel)]="toggle_top">Allow Top Commanders</mat-slide-toggle>
          </div>
          <br>
          <button (click)="getRecommendation()" class="btn btn-danger" style="max-width: 200px">Lets Do This!</button>
        </div>

      </div>
      <div *ngIf="calculating" style="background-color: rgba(255, 255, 255, 0.9); padding: 30px; border-radius: 10px;">
        <div *ngIf="current_deck" >
          <div class="card-holder">
            <img src="{{current_deck.image_url}}" alt="{{current_commander}}">
            <div class="centered-spinner">
              <mat-spinner [diameter]="64"></mat-spinner>
            </div>
          </div>
        </div>
        <br>
        <p style="color:aqua">Commanders: <ngb-progressbar type="info" [striped]="true" [animated]="true"
                            [value]="(commander_position/commander_total) * 100"></ngb-progressbar></p>
        <p style="color:aqua">Users: <ngb-progressbar type="warning" [striped]="true" [animated]="true" [value]="(top_deck_position/top_deck_total) * 100"></ngb-progressbar></p>
        <p style="color:aqua">Decks<ngb-progressbar type="danger" [striped]="true" [animated]="true" [value]="(user_deck_position/user_deck_total) * 100"></ngb-progressbar></p>
        <p style="color:aqua">Elapsed Time: {{secondsToString(calc_clock)}}</p>
      </div>
      <div *ngIf="final_decks.length > 0" class="container-fluid" style="background-color: rgba(255, 255, 255, 0.9); padding: 30px; border-radius: 10px;">
        <div class="row justify-content-center">
          <h2 style="color: aqua; text-align: center">Your Recommendations:</h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-auto" *ngFor="let deck of final_decks">

            <div style="width: 275px;">
              <img src="{{deck.image_url}}" alt="{{deck.commander}}" style="height: 384px;">
              <br>
              <div class="row" *ngIf="deck.themes">
                <!--                  <p *ngFor="let th of deck.themes" style="color: magenta">{{th}}</p>-->
                <p style="color: magenta">Recommended Theme: </p>
                <p style="color: magenta">{{deck.random_theme}}</p>
                <p style="color: magenta">Redommended Subtheme: </p>
                <p style="color: magenta">{{deck.random_subtheme}}</p>
              </div>
              <div class="row" *ngIf="!deck.themes">
                <div class="spinner-holder">
                  <div class="centered-spinner">
                    <mat-spinner [diameter]="64"></mat-spinner>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <br>
        <div class="row justify-content-center" style="text-align: center">
          <p style="color:aqua">Elapsed Time: {{secondsToString(calc_clock)}}</p>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto">
            <button class="btn btn-danger" (click)="restart_Recs()">
              Restart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


