<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-auto" style="margin: 20px">
      <div *ngIf="!calculating && !calculated" class="row justify-content-center" style="text-align: center">
        <div style="background-color: rgba(150, 150, 150, 0.5); padding: 30px; border-radius: 10px; max-width: 500px" class="centered">
          <p style="color: red">Chaos</p>
          <p style="color:red;">User:
            <mat-slider
              class="example-margin"
              [disabled]="false"
              [invert]="false"
              [max]="100"
              [min]="0"
              [step]="1"
              [(ngModel)]="user_randomness"
              [vertical]="false"
              aria-labelledby="example-name-label">
            </mat-slider>
          </p>
          <p style="color:red;">Color:
            <mat-slider
              class="example-margin"
              [disabled]="false"
              [invert]="false"
              [max]="100"
              [min]="0"
              [step]="1"
              [(ngModel)]="color_randomness"
              [vertical]="false"
              aria-labelledby="example-name-label">
            </mat-slider>
          </p>
          <p style="color:red;">Theme:
            <mat-slider
              class="example-margin"
              [disabled]="false"
              [invert]="false"
              [max]="100"
              [min]="0"
              [step]="1"
              [(ngModel)]="theme_randomness"
              [vertical]="false"
              aria-labelledby="example-name-label">
            </mat-slider>
          </p>
          <button (click)="getRecommendation()" class="btn btn-danger" style="max-width: 200px">Lets Do This!</button>
        </div>

      </div>
      <div *ngIf="calculating" style="width: 275px;">
        <div *ngIf="current_deck" >
          <img src="{{current_deck.image_url}}" alt="{{current_commander}}" style="height: 384px;">
        </div>
        <br>
        <p style="color:aqua">Commanders: <ngb-progressbar type="info" [striped]="true" [animated]="true"
                            [value]="(commander_position/commander_total) * 100"></ngb-progressbar></p>
        <p style="color:aqua">Users: <ngb-progressbar type="warning" [striped]="true" [animated]="true" [value]="(top_deck_position/top_deck_total) * 100"></ngb-progressbar></p>
        <p style="color:aqua">Decks<ngb-progressbar type="danger" [striped]="true" [animated]="true" [value]="(user_deck_position/user_deck_total) * 100"></ngb-progressbar></p>
        <p style="color:aqua">Elapsed Time: {{secondsToString(calc_clock)}}</p>
      </div>
      <div *ngIf="final_decks.length > 0" class="container-fluid">
        <div class="row justify-content-center">
          <h2 style="color: aqua; text-align: center">Your Recommendations:</h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto" *ngFor="let deck of final_decks">

            <div class="container">
                <div class="row">
                  <img src="{{deck.image_url}}" alt="{{deck.commander}}" style="width: 275px; height: 384px;">
                </div>
                <br>
                <div class="row" *ngIf="deck.themes">
<!--                  <p *ngFor="let th of deck.themes" style="color: magenta">{{th}}</p>-->
                  <p style="color: magenta">Recommended Theme: </p>
                  <p style="color: magenta">{{deck.random_theme}}</p>
                  <p style="color: magenta">Redommended SubTheme: </p>
                  <p style="color: magenta">{{deck.random_subtheme}}</p>
                </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center" style="text-align: center">
          <p style="color:aqua">Elapsed Time: {{secondsToString(calc_clock)}}</p>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto">
            <button class="btn btn-danger" (click)="restart_Recs()">
              Restart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


