/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-image: url('/assets/backgrounds/warbolas.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card {
  background-color: rgba(0,0,0,0);
}

.card-header {
  //background-color: rgba(10, 10, 10, 255);
  background-color: rgba(8, 22, 46, 0.8);
}

.card-body {
  //background-color: rgba(30, 30, 30, 255);
  background-color: rgba(34, 42, 57, 0.8);
}

.dropdown-menu {
  background-color: #303641;
}

.dropdown-item {
  color: white;
}
