/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-image: url('/assets/backgrounds/warbolas.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.offcanvas-body {
  background-color: rgba(10, 10, 10, 255);
}

.card {
  background-color: rgba(0,0,0,0);
}

.card-header {
  //background-color: rgba(10, 10, 10, 255);
  background-color: rgba(8, 22, 46, 0.8);
}

.card-body {
  //background-color: rgba(30, 30, 30, 255);
  background-color: rgba(34, 42, 57, 0.8);
}


/* Hide scrollbar for Chrome, Safari and Opera */
.invisible_scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.invisible_scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.btn-round {
  border-radius: 20px;
}

.dropdown-menu {
  background-color: #303641;
}

.dropdown-item {
  color: white;
}

.btn-outline-danger {
  color:maroon;
  border-color: maroon;
}

.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active, .btn-outline-danger.active, .open .dropdown-toggle.btn-outline-danger {
  background-color: maroon;
  color: white;
  border-color: maroon;
}

.btn-outline-danger:focus .btn-outline-danger:active, .btn-outline-danger.active {
  box-shadow: 0 0 0 5px rgba(maroon, .4);
}

.outline-danger {
  border-color: maroon;
}

.outline-danger:focus {
  border-color: maroon;
  box-shadow: 0 0 0 5px rgba(maroon, .4);
}
